@import "tailwindcss";

@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: oklch(96.9% 0.016 293.756);
	--color-primary-100: oklch(94.3% 0.029 294.588);
	--color-primary-200: oklch(89.4% 0.057 293.283);
	--color-primary-300: oklch(81.1% 0.111 293.571);
	--color-primary-400: oklch(70.2% 0.183 293.541);
	--color-primary-500: oklch(60.6% 0.25 292.717);
	--color-primary-600: oklch(54.1% 0.281 293.009);
	--color-primary-700: oklch(49.1% 0.27 292.581);
	--color-primary-800: oklch(43.2% 0.232 292.759);
	--color-primary-900: oklch(38% 0.189 293.745);

	--color-secondary-50: #fff3e2;
	--color-secondary-100: #fee0b7;
	--color-secondary-200: #fecd89;
	--color-secondary-300: #feb85c;
	--color-secondary-400: #fea93f;
	--color-secondary-500: #fd9a2e;
	--color-secondary-600: #f88f2b;
	--color-secondary-700: #f18028;
	--color-secondary-800: #ea7126;
	--color-secondary-900: #df5a23;

	--font-primary-theme: "Instrument Sans", sans-serif;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
	input[type="search"]::-webkit-search-cancel-button {
		display: none;
	}
}
